<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg colr" >
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div   class="navbar-nav" >
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link colr2" href={{ url_for('index') }}>Home</a>
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('calen') }}>Calendars</a>
{#            Calendar with events(manager can add events)#}
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('crud.crud') }}>Roster</a>
{#            list of members and their classification(manager can kick or promote)#}
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('index') }}>Hours</a>
{#            manage hours mostly for USER#}
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('mater') }}>Material WL</a>
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('map') }} >Locations</a>
            <a style="padding-left: 30px"></a>
            <a class="nav-link colr2" href={{ url_for('index') }}>Contact Info</a>

            <!-- stub is shown using the name of the route -->
        </div>
    </div>
</nav>
<style>
    .colr {
        background-color: saddlebrown;
    }
    .colr2 {
        color: white;
        font-size: x-large;
        font-family: "Times New Roman", Times, serif;
    }
</style>