<!DOCTYPE HTML>
<html lang="en">


<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Calendar</title>
    <!-- the form awesome library is used to add icons to our form -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- include the stylesheet file -->

</head>
<body>
{% include "layouts/navbar.html" %}

{% block body %}
    <div>
        <h1>Hey</h1>

    </div>

{% endblock %}

<!-- Add Firebase products that you want to use -->

</body>

</html>